$lato: 'Lato', sans-serif;

$button-blue: #00B7E0;
$button-hover: #2fd6f6;
$light-blue: #E8F6F9;
$text-dark: #005A77;
$text-gray: #808080;
$light-gray: #F0F0F0;
$border-dark: #464748;

body {
    font-family: $lato;
}

.main-container {
    margin: 0;
    padding: 0;
}
button {
    color: #fff;
    background-color: $button-blue;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px;
    &:hover {
        background-color: $button-hover;
    }
    &.gray {
        background-color: $text-gray;
    }
    &.white {
        color: #222;
        background-color: #fff;
    }
}
input[type=text] {
    background-color: #fff;
    color: #000;
    font-size: 24px;
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    ::placeholder {
        color: #000;
    }
}
nav.navbar {
    height: 150px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 35px 55px 25px 55px;
    .navbar-nav {
        background-color: #fff;
        .nav-link {
            padding: 15px 15px 0 15px;
        }
        a.nav-link {
            color: $text-gray;
            &:hover {
                color: $button-blue;
                text-decoration: underline;
            }
        }
        .nav-phone{
            padding:15px 15px 0 15px;
            color: $button-blue;
        }
        .navbar-toggler {
            color: #fff;
            background-color: $button-blue;
        }
    }
}
.main-jumbo {
    min-height: 668px;
    background-image: url("../img/main-jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-bottom: 0;
    .left-col {
        h3 {
            background:rgba(0, 125, 171, 0.75);
            border: 1px $border-dark;
            border-radius: 5px;
            margin-top: 200px;
            color: #fff;
            font-size: 40px ;
            display: block;
            padding: 40px 20px;
        }
        h4 {
            background:rgba(60, 47, 33, 0.75);
            border: 1px $border-dark;
            border-radius: 5px;
            color: #fff;
            font-size: 25px;
            display: block;
            padding: 30px 20px;
        }
    }
    .right-col {
        .bg-white{
            background-color: #fff;
        }
        img {
            width: 100px;
            height: 100px;
        }
        .form-header {
            color: $text-dark;
            text-align: right;
            font-size: 34px;
            font-weight: 700;
            margin-top: 45px;
        }
        .select-class-col {
            color: $text-gray;
            font-size: 20px;
            line-height: 27px;
            strong, span {
                display: block;
            }
            .form-check-label{
                display: block;
            }
        }
        p {
            color: $text-gray;
            font-size: 16px;
            line-height: 20px;
        }
        .button-submit {
            padding-right: 0;
        }
        .button-label {
            padding-left: 0;
        }
        .other-classes-label {
            display: block;
            padding: 20px 0;
            text-align: center;
            font-size: 20px;
            color: #fff;
        }
        .other-class-inputs {
            button {
                width: 30%;
                vertical-align: top;
            }
            input {
                width: 60%;
                margin-right: 20px;
            }
        }
    }
}
.jumbo-two {
    background-color: $light-gray;
    padding: 55px 0;
    .row {
        margin: 0;
    }
    h1 {
        text-align: center;
        font-size: 58px;
        font-weight: bold;
        color: $text-dark;
        padding-bottom: 40px;
    }
    .icon {
        height: 100px;
        width: 100px;
    }
    p { 
        padding-left: 75px;
        font-size: 25px;
        text-align: left;
        color: #000;
        margin-top: 26px;
    }
}
.container-fluid.materials {
    padding: 0 100px;
    h1 {
        text-align: left;
        font-size: 58px;
        font-weight: bold;
        color: $text-dark;
        padding-bottom: 40px;
    }
    .accordion {
        margin-bottom: 50px;
        .card {
            background-color: $light-blue;
            border: none;
            margin-bottom: 7px;
            .card-header {
                background-color: $light-blue;
                border: none;
                padding: 0;
                .btn {
                    color: $text-dark;
                    font-size: 25px;
                    font-weight: bold;
                    height: 100%;
                    width: 100%;
                    svg {
                        float: right;
                        margin-top: 5px;
                        margin-right: 20px;
                        transform: rotate(90deg);
                    }
                    &.collapsed svg{
                        transform: rotate(-0deg);
                    }
                    &:hover {
                        background-color: inherit;
                    }
                }
            }
            .card-body {
                font-size: 25px;
                line-height: 40px;
            }
        }
    }
}

@media (min-width: 1200px){
  .container-xl {
        max-width: 1400px;
    }
}