body {
  font-family: "Lato", sans-serif;
}

.some {
  display: block;
}

.main-container {
  margin: 0;
  padding: 0;
}

button {
  color: #fff;
  background-color: #405D18;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 15px;
}

button:hover {
  background-color: #B9CD2B;
}

button.gray {
  background-color: #808080;
}

button.white {
  color: #222;
  background-color: #fff;
}

.modal .modal-header {
  display: block;
  border: none;
  padding: 10px;
}

.modal .modal-header .nav li {
  padding: 0;
  margin: 5px;
}

.modal .modal-header .nav li a {
  background-color: #98C53D;
  border-radius: 0;
  color: #8AC1D2;
  padding: 15px 0;
  text-align: center;
}

.modal .modal-header .nav li a.active {
  background-color: #405D18;
  color: #fff;
}

.modal .modal-body h1 {
  font-size: 32px;
  color: #405D18;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.modal .modal-body .header-sub-head {
  position: absolute;
  left: 35px;
  top: 35px;
}

.modal .modal-body input[type=text] {
  background-color: #F0F0F0;
  color: #737373;
  text-align: center;
  font-size: 20px;
}

.modal .modal-body .form-single-input-row input, .modal .modal-body .required-text {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.modal .modal-body .form-full-inputs {
  margin: 15px 0;
}

.modal .modal-body .form-full-inputs input {
  width: 100%;
}

.modal .modal-body .inline-radio {
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  color: #737373;
}

.modal .modal-body .inline-radio input:checked + label {
  font-weight: 700;
}

.modal .modal-body .full-label {
  background-color: #F0F0F0;
  padding: 25px 0;
  margin-top: 30px;
}

.modal .modal-body .full-label h5 {
  margin: 0 auto;
}

.modal .modal-body .total {
  font-size: 20px;
  color: #737373;
  font-weight: 700;
  margin-bottom: 35px;
}

.modal .modal-body .total p {
  margin: 0 auto;
}

.modal .modal-body button {
  margin: 25px auto;
}

.modal .modal-body .modal-text-block {
  font-size: 20px;
  color: #737373;
}

input[type=text] {
  background-color: #fff;
  color: #000;
  font-size: 24px;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

input[type=text] ::-webkit-input-placeholder {
  color: #000;
}

input[type=text] :-ms-input-placeholder {
  color: #000;
}

input[type=text] ::-ms-input-placeholder {
  color: #000;
}

input[type=text] ::placeholder {
  color: #000;
}

nav.navbar {
  height: 150px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 35px 55px 25px 55px;
}

nav.navbar .navbar-toggler {
  background-color: #405D18;
}

nav.navbar .navbar-nav {
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding: 15px 15px 0 15px;
}

nav.navbar .navbar-nav a.nav-link {
  color: #808080;
}

nav.navbar .navbar-nav a.nav-link:hover {
  color: #405D18;
  text-decoration: underline;
}

nav.navbar .navbar-nav .nav-phone {
  padding: 15px 15px 0 15px;
  color: #405D18;
}

nav.navbar .navbar-nav .navbar-toggler {
  color: #fff;
  background-color: #405D18;
}

.main-jumbo {
  min-height: 668px;
  background-image: url("../img/main-jumbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-bottom: 0;
}

.main-jumbo .left-col h3 {
  background: rgba(0, 97, 104, 0.75);
  border: 1px #464748;
  border-radius: 5px;
  margin-top: 200px;
  color: #fff;
  font-size: 40px;
  display: block;
  padding: 40px 20px;
}

.main-jumbo .left-col h4 {
  background: rgba(60, 47, 33, 0.75);
  border: 1px #464748;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  display: block;
  padding: 30px 20px;
}

.main-jumbo .right-col .bg-white {
  background-color: #fff;
}

.main-jumbo .right-col img {
  width: 100px;
  height: 100px;
}

.main-jumbo .right-col .form-header {
  color: #405D18;
  text-align: right;
  font-size: 34px;
  font-weight: 700;
  margin-top: 45px;
}

.main-jumbo .right-col .select-class-col {
  color: #808080;
  font-size: 20px;
  line-height: 27px;
}

.main-jumbo .right-col .select-class-col strong, .main-jumbo .right-col .select-class-col span {
  display: block;
}

.main-jumbo .right-col .select-class-col .form-check-label {
  display: block;
}

.main-jumbo .right-col p {
  color: #808080;
  font-size: 16px;
  line-height: 20px;
}

.main-jumbo .right-col .button-submit {
  padding-right: 0;
}

.main-jumbo .right-col .button-label {
  padding-left: 0;
}

.main-jumbo .right-col .other-classes-label {
  display: block;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.main-jumbo .right-col .other-class-inputs button {
  width: 30%;
  vertical-align: top;
}

.main-jumbo .right-col .other-class-inputs input {
  width: 60%;
  margin-right: 20px;
}

.jumbo-two {
  background-color: #F0F0F0;
  padding: 55px 0;
}

.jumbo-two .row {
  margin: 35px 0;
}

.jumbo-two h1 {
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  color: #405D18;
  padding-bottom: 40px;
}

.jumbo-two .icon {
  height: 100px;
  width: 100px;
}

.jumbo-two p {
  padding-left: 75px;
  font-size: 25px;
  text-align: left;
  color: #000;
  margin-top: 26px;
}

.container-fluid.materials {
  padding: 0 100px;
}

.container-fluid.materials h1 {
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  color: #405D18;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-fluid.materials .accordion {
  margin-bottom: 50px;
}

.container-fluid.materials .accordion .card {
  background-color: #98C53D;
  border: none;
  margin-bottom: 7px;
}

.container-fluid.materials .accordion .card .card-header {
  background-color: #98C53D;
  border: none;
  padding: 0;
}

.container-fluid.materials .accordion .card .card-header .btn {
  color: #405D18;
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.container-fluid.materials .accordion .card .card-header .btn svg {
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container-fluid.materials .accordion .card .card-header .btn.collapsed svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container-fluid.materials .accordion .card .card-header .btn:hover {
  background-color: inherit;
}

.container-fluid.materials .accordion .card .card-body {
  font-size: 18px;
  line-height: 30px;
}

.map-input {
  background-color: #405D18;
  margin: 50px 0 0 0;
  padding: 20px 100px;
}

.map-input input, .map-input button {
  margin: 0 auto;
  display: block;
}

.map-input span {
  font-size: 20px;
  color: #fff;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.map-input select {
  height: 55px;
  width: 100%;
}

.map-display {
  margin: 0;
}

.map-display .map-list {
  height: 800px;
  overflow-y: scroll;
}

.map-display .map-list ul {
  margin-top: 50px;
  list-style: none;
  margin: 50px 0;
  padding: 0;
}

.map-display .map-list ul li {
  color: #707070;
  margin: 20px 0;
}

.map-display .map-list ul li img {
  width: 160px;
  height: 185px;
  float: right;
}

.map-display .map-list ul li h4 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.map-display .map-list ul li p {
  font-size: 16px;
  line-height: 27px;
  display: block;
  margin: 10px 0;
}

.map-display .map-list ul li p span {
  display: block;
}

.map-display .map-list ul li p strong i {
  margin-top: 15px;
}

.map-display .map-list ul li p i {
  display: block;
}

.map-display iframe {
  width: 100%;
  height: 100%;
}

.sign-up {
  background-color: #405D18;
  margin: 0;
  padding: 50px 100px;
}

.sign-up h3 {
  color: #FDFDFD;
  font-size: 36px;
}

.sign-up p {
  color: #FDFDFD;
  font-size: 20px;
}

.sign-up .col-md-3, .sign-up .col-md-2 {
  padding-top: 40px;
}

.sign-up .zip {
  width: 80%;
}

.sign-up button {
  display: block;
  margin: 0 auto;
}

.footer {
  margin: 0;
  padding: 100px 30%;
  background-color: #C2C2C2;
}

.footer p {
  width: 100%;
  color: #fff;
  text-align: center;
}

.footer img {
  margin: 15px auto;
  width: 215px;
  height: 60px;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1400px;
  }
}

@media (max-width: 992px) {
  .map-input input {
    float: none !important;
  }
  .map-input select {
    height: 55px;
    margin: 25px auto;
    width: 75%;
    display: block;
  }
}

@media (max-width: 576px) {
  .jumbo-two dl.row {
    margin: 25px 0;
  }
  .jumbo-two dl p {
    margin: 0;
    padding: 0;
  }
  .jumbo-two dl .icon {
    margin: 0 auto;
    display: block;
  }
  .container-fluid.materials {
    padding: 0 10px;
  }
  .container-fluid.materials .right-col {
    margin-top: 30px;
  }
  .map-display .col-sm-8 {
    height: 600px;
    padding: 0;
  }
  .sign-up .col-12 {
    padding: 20px 0;
  }
  .sign-up input {
    float: none !important;
    display: block;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=RYR.css.map */